{{<layout}}
  {{$journeyHeader}}
    {{#t}}journey.header{{/t}}
  {{/journeyHeader}}

  {{$validationSummary}}
    {{> partials-validation-summary}}
  {{/validationSummary}}

  {{$propositionHeader}}
    {{> partials-navigation}}
  {{/propositionHeader}}

  {{$header}}{{{title}}}{{/header}}
  {{$content}}
    {{<partials-form}}
      {{$form}}
        {{#intro}}<p class="form-block">{{intro}}</p>{{/intro}}
        {{$page-content}}{{/page-content}}
      {{/form}}
    {{/partials-form}}
  {{/content}}
{{/layout}}
